.integrations g.item circle {
    fill: var(--ifm-background-color);
    stroke: var(--ifm-heading-color);
}

.integrations g.item text {
    fill: var(--ifm-color-content);
}

.integrations g.item.large circle {
    stroke: var(--ifm-panel-border-color-active);
}

.integrations g.item.large text {
    fill: var(--ifm-color-primary);
}

.integrations g.item:hover circle {
    fill: var(--ifm-panel-background-active);
    stroke: var(--ifm-panel-border-color-active);
}

.integrations g.item:hover text {
    fill: var(--ifm-color-primary);
}

/*
 * Configuration Section
 */

.configuration__diagram svg {
    margin-left: -4%;
    margin-bottom: var(--ifm-spacing-vertical);
    width: calc(100% + 4%);
    height: 100%;
}

.configuration__diagram svg #config-file-bg {
    fill: var(--ifm-panel-background);
    stroke: var(--ifm-panel-border-color);
}

.image-overview {
    flex: 1.3;
    width: null;
    height: null;
    margin: 15px 10px 15px 15px;
    padding: 0;
}

/* Shine */
.hover14 figure {
    position: relative;
}
.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hover14 figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

@media (max-width: 996px) {
    .configuration__diagram {
        margin: 0 auto;
        overflow: hidden;
        max-width: 500px;
    }
    .configuration__diagram svg {
        padding-left: 20px;
        width: 235%;
    }
    .configuration__diagram svg #Line-6,
    .configuration__diagram svg .config-section-description {
        display: none;
    }
}

.svg {
    /* display: block; */
    margin: var(--ifm-heading-margin-bottom) auto;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    display: block;
    /* display: 'inline-block',
    backgroundColor: backgroundColor || 'black',
    WebkitMask: `url('${url}') no-repeat 50% 50% / cover`,
    fill: #645484;
    mask: `url('${url}') no-repeat 50% 50% / cover`, */
}

/* fallback */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
        format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.container1 {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #419be0;
  }

.awssld__wrapper {
max-height: 600px;
min-height: 500px;
position: relative;
}
.slide-show img {
max-height: 600px;
min-height: 500px;
position: relative;
}
.slide-img::before {
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 50;
background: rgba(0, 0, 0, 0.505);
}

.slide-caption {
position: absolute;
z-index: 100;
color: #ddd;
width: 50%;
left: 20px;
padding: 20px;
background: rgba(34, 34, 34, 0.61);
z-index: 900;
}

.slide-caption > h1 {
margin-bottom: 10px;
animation: fadeIn 2s ease-in;
}

.slide-caption > p {
font-size: 0.95rem;
line-height: 2em;
margin-top: 10px;
animation: fadeIn 3s ease-in;
}


.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }

.react-player {
position: absolute;
top: 0;
left: 0;
}
